:root {
    --bg-color: #eee;
    --gallery-bg-color: #fff;
    --gallery-max-width: 1440px;
    --text-color: #000;
    --title-font-family: Delius Unicase;
    --text-font-family: Roboto;
    --radius: 20px;
    --transition: .5s;
    --gallery-padding: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: var(--text-font-family), sans-serif;
}

.gallery {
    max-width: var(--gallery-max-width);
    margin: 0 auto;
    background: var(--gallery-bg-color);
    padding: 100px;

    h2 {
        font-family: var(--title-font-family), sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 45.07px;
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 80px;
    }
    ul {
        list-style: none;
        display: grid;
        gap: 30px;
        padding: var(--gallery-padding);
    }
    li{
        overflow: hidden;
        transition: var(--transition);
        padding: var(--gallery-padding);
        height: auto;;
        position: relative;
        cursor: pointer;
        z-index: 10;
    }
    li:not(:hover){
        transition: var(--transition);
        opacity: .7;
        transform: scale(1);
    }
    li:hover{
        transition: var(--transition);
        transform: scale(1.1);
        opacity: 1;
        z-index: 100;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: var(--radius);
        overflow: hidden;
    }
}

.cities-gallery{
    ul{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        :nth-child(1){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        :nth-child(2){
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        :nth-child(3){
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        :nth-child(4){
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        :nth-child(5){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        :last-child{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}

.nature-gallery{
    ul{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .small-first{
        grid-column: 1;
        grid-row: 1;
    }
    .small-second{
        grid-column: 3;
        grid-row: 4;
    }
    .big{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .vertical{
        grid-column: 3;
        grid-row: 2/4;
    }
     .horizontal-first{
        grid-column: 2/4;
        grid-row: 1;
    }
    .horizontal-second{
        grid-column: 1/3;
        grid-row: 4;
    }

}

.people-gallery{
    ul{
        grid-template:"a b c" 1fr
                            "d b e" 1fr
                            "f g e" 1fr
                            "f h h" 1fr
                            "i i j" 1fr
                            /1fr 1fr 1fr;

        :first-child{
            grid-area: a;
        }
        :nth-child(2){
            grid-area: b;
        }
        :nth-child(3){
            grid-area: c;
        }
        :nth-child(4){
            grid-area: d;
        }
        :nth-child(5){
            grid-area: e;
        }
        :nth-child(6){
            grid-area: f;
        }
        :nth-child(7){
            grid-area: g;
        }
        :nth-child(8){
            grid-area: h;
        }
        :nth-child(9){
            grid-area: i;
        }
        :last-child{
            grid-area: j;
        }
    }

}